body {
    font-family: "Mulish", sans-serif;
    padding: 0px;
    margin: 0px;
    background: #f8f9fa; 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 120px;
}

.payout-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 350px;
}

.payment-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 350px;
    display: none;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.success {
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
    background: #d4edda;
    color: #155724;
    display: block;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.center {
    text-align: center;
    margin: 15px 0px;
    width: 100%;
    display: block;
}

.wallet {
    margin-top: 10px;
    width: 100;
}