body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 242, 242);
    margin: 0px;
}

.top {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.upload-container {
    border: 1px solid gray;
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    height: 180px;
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.d-line {
    border: 2.5px dashed green;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bi-plus {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
}

#preview {
    margin-top: 10px;
    max-width: 100%;
    max-height: 150px;
    display: none;
    border-radius: 8px;
}

input[type="file"] {
    display: none;
}

.image-container {
    margin: 20px auto;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    height: 180px;
    display: none;
    text-align: center;
}

.container {
    padding: 15px;
    border-radius: 10px;
    margin: 30px auto;
    width: 60%;
    display: block;
    background-color: white;
}

@media(max-width: 700px) {
    .container {
        padding: 15px;
        border-radius: 10px;
        margin: 30px auto;
        width: 83%;
        display: block;
        background-color: white;
    }
}

.c-num {
    padding: 15px;
    width: 83%;
    margin: 10px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 10px;
}

.pay-btn {
    padding: 10px;
    margin: 20px auto;
    width: 50%;
    display: block;
    border: none;
    background-color: green;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}